@model PagedList.IPagedList<Lifebuoy.Models.Offers>

@using PagedList.Mvc;

    @*<div class="row main-page-row">*@
    <table class="table admin-table">
        <tr>
            <th>
               Провайдер
            </th>
            <th>
                Категория
            </th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
            {
            <tr>
                <td>
                    Нет предложений ждущих модерацию.
                </td>
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a class="catalog-link" href="@Url.Action("ModerateOffer","Admin", new { id = item.Id })">Модерировать</a>
                </td>
            </tr>
        }

    </table>
        <br />
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("AdministratorPage", new { page }))
@*</div>*@